<h1>Create an Appearance</h1>

<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  <%= f.collection_select :episode_id, Episode.all, :id, :date %>
  <%= f.collection_select :guest_id, Guest.all, :id, :name %>
  <%= f.submit %>
<% end %>
